.product-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}

.product-col {
  padding-left: 4px;
  padding-right: 4px;
  width: calc(100% / 12 * 6);
}

.producr-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--neutral-500);
  padding-left: 8px;
}

.product-color {
  width: 64px;
  text-align: center;
  color: var(--neutral-600);
  cursor: pointer;
}

.size-btn {
  border: 1px solid var(--neutral-300);
  width: 160px;
}

.size-act,
.size-btn:hover {
  border-color: var(--neutral-900);
}

.btn-like {
  display: flex;
  gap: 8px;
}

.btn-like .btn {
  width: 50%;
}

.btn-like .bi {
  font-size: 20px;
  padding-right: 8px;
}

.info-title {
  font-weight: 500;
  color: var(--neutral-900);
}

.product-info p {
  color: var(--neutral-600);
}

.product-info {
  border-bottom: 1px solid var(--neutral-300);
}

.best-select-card a:hover {
  opacity: 0.8;
}
